:host ::ng-deep .p-menubar { 
    background-color: white;
}

.contentHeader{
    height: 34rem;
    background-color: #F4F4F4;
}

.backgroundGradient{
    background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(155,158,156,1) 47%, rgba(103,103,103,1) 100%);

    top: 3.75rem;
    overflow: hidden;
}

.containerSketchers{
    bottom: -50px;
}
