 <div class="block absolute w-full h-16rem flex justify-content-center container_sketchers">
    <div class="flex-1 relative inline-block overflow-hidden item_sketcher">
        <img  class="block w-17rem h-12rem image_sketcher" src="../../../assets/img/Sketches.png" alt="">
        <p class="absolute left-50 p-2 font-normal text-2xl title_sketcher">!Despierta y entrena!</p>
    </div>

    <div class="flex-1 relative inline-block overflow-hidden item_sketcher">
        <img  class="block w-17rem h-12rem image_sketcher" src="../../../assets/img/Sketches.png" alt="">
        <p class="absolute left-50 p-2 font-normal text-2xl title_sketcher">!Supera tus limites!</p>
    </div>

    <div class="flex-1 relative inline-block overflow-hidden item_sketcher">
        <img  class="block w-17rem h-12rem image_sketcher" src="../../../assets/img/Sketches.png" alt="">
        <p class="absolute left-50 p-2 font-normal text-2xl title_sketcher">!Cada dia mas fuerte!</p>
    </div>
</div>
