.container_sketchers{
    bottom: -10rem;
}

.item_sketcher{
    rotate: 14deg;
}

.image_sketcher{
    margin: -3px auto;
}

.title_sketcher{
    top: 1.5rem;
    left: 49%;
    
    transform: translate(-50%, -50%);
    rotate: 331deg;

    font-family: "Bangers", system-ui;
    font-style: normal;
}
