 <div class="container_sketchers">
    <div class="item_sketcher">
        <img  class="image_sketcher" src="../../../assets/img/Sketches.png" alt="">
        <p class="title_sketcher">!Despierta y entrena!</p>
    </div>

    <div class="item_sketcher">
        <img  class="image_sketcher" src="../../../assets/img/Sketches.png" alt="">
        <p class="title_sketcher">!Supera tus limites!</p>
    </div>

    <div class="item_sketcher">
        <img  class="image_sketcher" src="../../../assets/img/Sketches.png" alt="">
        <p class="title_sketcher">!Cada dia mas fuerte!</p>
    </div>
</div>
